{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    // "transform-class-properties",
    // "syntax-dynamic-import",
    // ["@babel/plugin-proposal-decorators", { "legacy": true} ],
    // "transform-object-rest-spread", ["import", {
    //   "libraryName": "antd",
    //   "style": "css"
    // }]
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-transform-runtime",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ],
    "react-hot-loader/babel"
  ],
  "env": {
    "development": {
      "plugins": [ "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        [
          "@babel/plugin-proposal-decorators",
          {
            "legacy": true
          }
        ],
        [
          "@babel/plugin-proposal-class-properties",
          {
            "loose": true
          }
        ],
        "@babel/plugin-transform-async-to-generator",
        "@babel/plugin-transform-runtime",
        [
          "import",
          {
            "libraryName": "antd",
            "style": "css"
          }
        ],
        "react-hot-loader/babel"
      ]
    }
  },
  "comments": false
}